[Unit]
Description=MotiBeam Spatial OS
After=multi-user.target

[Service]
Type=simple
User=motibeam
WorkingDirectory=/home/motibeam/motibeam-spatial-os
Environment="DISPLAY=:0"
Environment="SDL_VIDEODRIVER="
ExecStart=/bin/bash /home/motibeam/motibeam-spatial-os/run.sh
StandardOutput=null
StandardError=null
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
